//注册流程
.login-layer {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.541);
}
.loginbox {
  width: 200px;
  position: absolute;
  margin: auto;
  background-color: white;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.closebtn{
    
}
