/*

@注册流程
@按钮样式

*/


//注册流程
.login-layer {

  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.541);
}
.loginbox {
  width: 200px;
  position: absolute;
  margin: auto;
  background-color: white;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  border-radius: 5px;
}

.login-btns{
  margin-top: 10px;
  width: 100%;
  .login{
    width: 90%;
    margin-left: 5%;
  }
  
  .registerbtn{
    background-color: rgba(0, 0, 0, 0.541);
  }
}

//## 按钮样式
.btn{
  border: 0px;
  background-color: #fa4a80;
  box-sizing: border-box;
  padding: 2px 10px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

input.form-control{
  border: none;
  border-bottom: 1px solid #a8a8a8;
  padding: 4px 10px;
  box-sizing: border-box;
  width: 100%;
}

.mulo-ui-home-head{
  .logo{
    font-size: 50px
  }
}
.title{
  font-size: 40px;
  font-weight: 500;
}

.components-menus{
  width: 100px;
  
}

.components-body{
  width: 1200px;
  margin:auto;
}



.router-link-active{
  color: red;
}