// mulo-ui的markdown文档样式

// 文档主题
.mulo-ui-docs {
  table {
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 3px 1px 1px #d2d2d2;
  }
  thead {
    font-size: 1.2rem;
    th {
      text-align: left;
    }
  }
}
.sources {
  width: 100%;
  min-height: 1rem;
  border: 1px solid #d6d6d6;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
.mulo-ui-docs > * {
  margin: 0.5rem 0;
}

//前面的图标
.header-anchor {
  display: none;
}

.demo-container {
  width: 15rem;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem;
  height: fit-content;
}
.demo-container-col {
  height: 15rem;
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem;
}

.demo-div {
  padding: 0.3rem;
  border: 1px solid #ff9800;

  min-width: 1rem;
  min-height: 1rem;
}

.doc-detail {
  width: 80vw;
  box-sizing: border-box;
}

//toc内容表导航
.table-of-contents {
  position: fixed;
  z-index: 1111;
  top: 10%;
  right: 0.5rem;
  width: 18vw;
  padding: 0.3rem;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  padding-top: 1rem;
  li{
    padding:.3rem 0;
    ul{
      li{
        padding-left:.7rem;

        &::before{
          content: '-';
        }
      }
    }
  }
  a{
    color:black;
  }
}
