@import "./common/var.scss";

//郁金香配色

.btn {
  border: 0px;
  background-color: $color-pink;
  border-color: $color-pink;
  box-sizing: border-box;
  padding: 0.3rem 0.9rem;
  font-size: 1rem;
  color: white;
  border-radius: 0.2rem;
  text-align: center;
  width: unset;
  transition: color 1s;
  
  &:hover {
    color: $color-default;
    text-decoration: none;
  }
}
.btn.full{
  width: 100%;
}
.btn.default {
  background-color: $btn-default;
}
.btn.denger {
  background-color: $btn-default;
}
.btn.info {
  background-color: $btn-default;
}

.btn.primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
//禁用按钮
.btn.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}
.btn.is-round {
  border-radius: 1rem;
  padding: 0.3rem 0.9rem;
}
.btn.green {
  background-color: $color-green;
}
