@import "./common/var.scss";

input.form-control{
    min-width: 5em;
    border:none;
    padding: .5em 0;
    border-bottom: 1px solid $color-default;
}
input.form-control.border{
    border:1px solid $color-default;
}







