@import "./common/var.scss";

$nav-height: 2rem;
$nav-item-left: 0.6rem; // 每层深入增加距离
$nav-item-left-default: 1rem; //第二层基础距离

$nav-line-top:0.3rem; // 横向布局 距离上方
.menu {
  width: 20rem;
  flex-wrap: wrap;
  display: flex;
  display: -webkit-flex;

  //菜单栏目-子菜单嵌套时,第一个识别为当前菜单
  & > .menu-item > *:first-child {
    padding-left: 0.3rem;
  }
  .menu-item {
    vertical-align: middle;
    box-sizing: border-box;

    & > *:first-child {
      height: $nav-height;
      display: flex;
      display: -webkit-flex;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
    }
  }
  //## 横向布局
  &>.menu-item{
      position: relative;
    
   
  }

  //## 纵向布局
  &.column {
    width: 10rem;
    min-height: 20rem;
    flex-direction: column;
    overflow-x: hidden;

    //第二层菜单开始启用padding边距
    & > .menu-item {
      margin-left: 0;
      .menu-item {
        padding-left: $nav-item-left;
      }
      & > .menu-item {
        padding-left: $nav-item-left-default + $nav-item-left;
      }
    }
  }

  //## 配色
  color: $color-font;
  background-color: $color-white;
  //### 黑暗配色
  &.drak {
    color: $color-white;
    background-color: $color-nav-bg;
    //二级菜单背景色
    .menu-item {
      background-color: $color-nav-item-bg;
    }
    //一级菜单
    & > .menu-item {
      background-color: $color-nav-bg;
    }
  }
}
