/*

full-w full-h full-both 占位


*/
.full-w {
  width: 100%;
}
.full-h{
  height:100%;
}
.full-both{
  width:100%;
  height: 100%;
}

//宽高百分比
@for $i from 1 through 20 {
  .w#{$i*5} {
    width: $i * 5%;
  }
  .h#{$i*5} {
    height: $i * 5%;
  }
}

//常用细微距离 1 = 0.1rem

// 表格生成正则
// ([\w-]+)":\s?"([\w-]+)"
// |$1|$2|$2-1 item-$2-10|
@for $i from 1 through 20 {
  @each $attrname,
    $names
      in (
        "margin": "margin",
        "margin-top": "mt",
        "margin-left": "ml",
        "margin-right": "mr",
        "margin-bottom": "mb",
        "padding": "padding",
        "padding-top": "pt",
        "padding-left": "pl",
        "padding-right": "pr",
        "padding-bottom": "pb"
      )
  {
    //子元素样式
    .item-#{$names}-#{$i} > * {
      #{$attrname}: ($i / 10) * 1rem;
    }
    //当前元素样式
    .#{$names}-#{$i} {
      #{$attrname}: ($i / 10) * 1rem;
    }
  }
  .font-size-#{$i} {
    font-size: ($i / 10) * 1rem;
  }
}

.child-item-space{
  &>*{
    margin: $space-control;
  }
}
